In [3]:
city= ['Seattle', 'San Francisco',  'Los Angeles', 'Denver', 'Salt Lake City', "Phoenix", 'Chicago', "St. Louis", "Dallas", 'Boston', "Washington D.C.", "Miami"]
totaldays = [ 306,314,275,366,366,366,366,366,306,306, 366, 275]
poordays = [14,22,119,34,21,70,28,10,24,0,3,2]
aqimed = [42,45,81,58,50,75,56,52,49,42,42,44]
zone=['west', 'west', 'west', 'mountain', 'mountain', 'mountain','central', 'central', 'central', 'east', 'east', 'east']

In [10]:
aqimedavg = sum(aqimed)/len(aqimed)
aqimedavg

53.0

In [11]:
avgtdays=sum(totaldays)/len(totaldays)
avgtdays

331.5

In [14]:
avgpdays = sum(poordays)/len(poordays)
avgpdays

28.916666666666668

In [15]:
import pandas as pd
aqistats= pd.DataFrame({'City':city, 'Total Days':totaldays, 'Poor Days':poordays, 'AQI Median':aqimed, 'Zone':zone})

In [16]:
aqistats

               City  Total Days  Poor Days  AQI Median      Zone
0           Seattle         306         14          42      west
1     San Francisco         314         22          45      west
2       Los Angeles         275        119          81      west
3            Denver         366         34          58  mountain
4    Salt Lake City         366         21          50  mountain
5           Phoenix         366         70          75  mountain
6           Chicago         366         28          56   central
7         St. Louis         366         10          52   central
8            Dallas         306         24          49   central
9            Boston         306          0          42      east
10  Washington D.C.         366          3          42      east
11            Miami         275          2          44      east