# python data types

In [5]:
# 1. boolean data (0 or 1, False or True, No or Yes)
a = True
b = False 
a

True

In [9]:
print ("hi my name is jess")

hi my name is jess

In [10]:
# function (perameter)

In [14]:
# 2. integer data
multiply = 4*4
type(multiply)

int

In [20]:
# 3. float data
c=3.4323
divide = 4/4
print (divide)

1.0

In [17]:
type (divide)

float

In [29]:
# string data
fname = 'jess'
lname='vinskus'
type(fname)

str

In [21]:
d=2
e=c+d
print (e)
# float takes precident over integers

5.4323

In [22]:
type(c)

float

In [24]:
ctoint= int(c)
print(ctoint)

3

In [26]:
dtofloat = float (d)
print (dtofloat)

2.0

In [27]:
type(fname)

str

In [30]:
fullname= fname+lname
print(fullname)

jessvinskus

In [32]:
funame = fname+ " "+lname
funame

'jess vinskus'

In [35]:
print( funame + " "+ "is" +" 21 years old")
age= 21
ages= "21 years old"

jess vinskus is 21 years old

In [37]:
print(f'{funame} is {age} years old')

jess vinskus is 21 years old years old